# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE / VS Code
.vscode/

# Data files
data/*.csv
data/processed/*

# Temporary files
*.tmp
*.log

# Python distribution
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/
data/*.csv
